/* src/app/(app)/dashboard/page.module.scss */

.dashboardWrapper {
    width: 100%;
}

.mainContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.column {
    &:first-child {
        flex: 6;
    }

    &:last-child {
        flex: 3;
        margin-left: 32px;
    }

    display: flex;
    flex-direction: column;
}

/* Tablet Responsiveness (Stack columns) */
@media (max-width: 1100px) {
    .mainContent {
        flex-direction: column;
        justify-content: center;
    }

    .column {
        &:first-child {
            flex: 1;
            width: 100%;
            margin: 0;
            margin-bottom: 32px;
        }
        
        &:last-child {
            flex: 1;
            width: 100%;
            margin: 0;
        }
    }
}


@media (max-width: 768px) {
    .dashboardWrapper {
        padding: 16px; /* Añade un respiro alrededor de todo el dashboard en móviles */
    }

    .column {
        &:first-child {
            margin-bottom: 16px; /* Reduce el hueco entre la columna superior y la inferior */
        }
    }
}